export const config = {
  database: {
    startOptions: {
      rootDir: "./folder/data/",
      isAutosave: false,
    },
  },
  server: {
    startOptions: {
      port: 80,
    },
    debug: true,
  },
};

export default config;
