export const config = {
  database: {
    uri: "mongodb://localhost:27017/DenoOak",
    debug: true
  },
  server: {
    startOptions: {
      port: 80
    },
    debug: false
  }
};

export default config;
